{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <h1>Les meilleures séries selon vous</h1>
    <div class="container" style="margin-bottom: 100px" >
        <div class="row align-content-center">
            <div class="col">
                <div id="diaporama" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                    <div class="carousel-inner">
                        {% for key,serie in series %}
                        <a href="{{ path('serie_detail', {'id': serie.id})}}" alt="Serie details">
                                <div class="carousel-item{% if key == 0 %} active{% endif %}">
                                    <img src="{{asset('img/backdrops/' ~ serie.backdrop) }}" alt="image_serie" class="d-bloc w-100">
                                    <h3> N° {{ key +1 }} {{ serie.name }}</h3>
                                </div>
                        </a>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#diaporama" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#diaporama" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
